.pong-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.paddle {
  width: 10px;
  height: 100px;
  background-color: white;
}

.ball {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
}

.score {
  color: white;
  font-size: 24px;
  position: absolute;
  top: 20px;
  font-family: 'Arial', sans-serif;
}